{
	"plugins": ["stylelint-order"],
	"rules": {
		"order/order": [
			"custom-properties",
			"dollar-variables",
			"declarations",
			"rules"
		],
	},
	"extends": [
    "stylelint-logical-order"
  ]
}
